{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<section class="section section-bg" id="call-to-action" style="background-image: url({{ asset('assets/images/voitures/banner-image-1-1920x500.jpg') }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content text-center">
                    <h2>Email de Réinitialisation de Mot de Passe Envoyé</h2>
                    <p>
                        Si un compte correspondant à votre adresse email existe, un email a été envoyé contenant un lien pour réinitialiser votre mot de passe.
                        Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                    </p>
                    <p>
                        Si vous ne recevez pas d'email, veuillez vérifier votre dossier de spam ou <a style="color: #ed563b; " href="{{ path('app_forgot_password_request') }}">essayez à nouveau</a>.
                    </p>
                </div>
                <div>
                    <a class="btn" style="background-color: #ed563b; color: white;" href="{{ path('app_public') }}">Page d'acceuil</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
