{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/voitures/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <br>
                    <br>
                    <h2>Rejoignez-nous <em>Inscrivez-vous</em></h2>
                    <p>Créez votre compte dès maintenant pour profiter de nos services et découvrir nos offres exclusives.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-bg p-4 p-md-5 rounded">
                <form action="{{ path('app_inscription_submit') }}" method="POST" style="font-family: 'Poppins', sans-serif;">
                    <h2 class="mb-4" style="color: #ed563b;">Inscription</h2>
                    <div class="form-group">
                        <label for="email">Adresse Email</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="confirm_password">Confirmez le mot de passe</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                    </div>
                    <button type="submit" class="btn btn-inscrire  btn-block">S'inscrire</button>
                    
                </form>
            </div>
        </div>
    </div>
</div>
<a class="btn text-inscrit" href="{{ path('app_login') }}">Inscrivez-vous ici</a>
<section class="section section-bg mt-5" id="call-to-action" style="background-image: url(assets/images/voitures/banner-image-1-1920x500.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="cta-content">
                    <h2>Une <em>question ?</em></h2>
                    <p>Vous souhaitez obtenir une information complémentaire sur nos gammes de produits et les services proposés ? <br> Le Service Commercial So Location vous recontactera rapidement et répondra à toutes vos questions.</p>
                    <div class="main-button">
                        <a href="index.php?p=page-contact.php">Contactez-nous</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
