{% extends 'base.html.twig' %}

{% block title %}A propos de nous - {{ parent() }}{% endblock %}

{% block body %}



    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(../assets/images/logo-banner/banner_voitures.png)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>A <em>Propos</em></h2>
                        <p>Voici notre histoire</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    
    

    <!-- ***** A propos de nous ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <br>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li><a href='#tabs-3'><i class="fa fa-heart"></i> Notre Histoire</a></a></li>
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-3'>
                    <img src="{{ asset('../assets/images/about-image-3.jpg') }}" alt="">
                    <h4>NOTRE HISTOIRE</h4>
                    <p>Laissez-nous vous raconter une histoire, une belle aventure qui démarre en 2022, avec, aux commandes un passionné. Pour que d’une envie naisse un projet viable, il faut qu’il soit porté par une personne à la fois investie et ancrée dans le domaine concerné. C’est le cas pour les fondateurs de SO LOCATION qui, de leur passion, ont su en extraire le nectar pour l’offrir à leur clientèle.</p>
                    <p>C’est donc en 2022 que Soslan, désireux de créer une société où le luxe et l’adrénaline seraient au centre de l’activité. Et ce n’est pas un hasard s'il se lance dans cette activité. C’est en réalité une évidence : créer une entreprise dont l’ADN serait à l’image de la passion qui les anime.</p>
                  </article>
                </section>
              </div>
            </div>
        </div>
    </section>
    <!-- ***** A propos de nous***** -->

    <!-- ***** Une questions ? ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/voitures/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>une  <em>question ?</em></h2>
                        <p>Vous souhaitez obtenir une information complémentaire sur nos gammes de produits et les services proposés ? <br> Le Service Commercial So Location vous recontactera rapidement et répondra à toutes vos questions. </p>
                        <div class="button_principale">
                            <a href="index.php?p=page-contact.php">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>















{% endblock %}